.grid {
  display: inline-grid;
  border: 2px solid yellow;

  grid-gap: 1px;
  background-color: grey;
}

.cell {
  width: 1em;
  height: 1em;
  background-color: white;
}

.cell.closed {
  background-color: lightgrey;
}

.bomb {
  background-image: url('assets/bomb.png');

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cell.opened.bomb {
  background-color: pink;
}

.cell.opened.bomb.fired {
  background-color: red;
}

.cell.marked {
  background-image: url('assets/flag.png');

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
